/* Estilo para o cabeçalho (header) */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px;
}

/* Estilo para a navegação (nav) */
nav {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semitransparente */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white; /* Cor do texto branco */
}

/* Estilo para o rodapé (footer) */
footer {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto semitransparente */
    padding: 10px;
    color: white; /* Cor do texto branco */
}
